<a href="https://colab.research.google.com/github/M4rkAdrian/CPEN21A-1-2/blob/main/OOP_Concepts2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self,bird_name):
    self.bird_name=bird_name

  def flying_birds(self):
    print(f"{self.bird_name} flies above the sky")
  
  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

vulture=Birds("Griffon Vulture")
crane=Birds("Common Crane")
emu=Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of the Philippines

Encapsulation using Mangling with Double Underscores

In [ ]:
class foo:
  def __init__(self,a,b):
    self.__a=a
    self.__b=b

  def add(self):
    return self.__a+self.__b

number = foo(3,4)
number.add()

number.a=9
number.add()

7

Encapsulation with Private Attributes

In [ ]:
class Counter:
  def __init__(self):
    self.__current = 0

  def increment(self):
    self.__current += 1
  def value(self):
    return self.__current     #With mangling using Double Underscores
  def reset(self):
    self.__current = 0

num=Counter()

num.increment()
num.increment()
num.increment()

num.counter=1

num.value()

3

Inheritance

In [ ]:
class Person:
  def __init__(self, firstname,surname):
    self.firstname=firstname
    self.surname=surname

  def printname(self):
    print(self.firstname,self.surname)
  
person = Person("Ana","Santos")
person.printname()

class Teacher(Person):
  pass

person2 = Teacher("Maria","Sayo")
person2.printname()

class Student(Person):
  pass

person3 = Student("Mark Adrian","Beranque")
person3.printname()

Ana Santos
Maria Sayo
Mark Adrian Beranque

Polymorphism

In [ ]:
class RegularPolygon:
    def __init__(self,side):
        self.side = side
class Square(RegularPolygon):
    def area(self):
        return self.side * self.side
class EquilateralTriangle(RegularPolygon):
    def area(self):
        return self.side * self.side * 0.433

object=Square(4)
print(object.area())

object2=EquilateralTriangle(3)
print(object2.area())

16
3.897

Application 1
1. Create a Python program that displays the name of the three students (Student 1, Student 2, and Student 3) and their term grades
2. Create a class name Person and attributes - std 1,std2,std3,pre,mid,final
3. Compute the average of each term grade using Grade using Grade() method
4. Information about students grades must be hidden from others

In [93]:
class Person:
  def __init__(self,term_grades):
    self.term_grades=term_grades

  def Term(self):
    print(f"{self.term_grades}       Pre   Mid   Final")
  def std1(self):
    print(f"{self.term_grades}     1.25   1.50   1.50")
  def std2(self):
    print(f"{self.term_grades}     1.50   1.00   1.25")
  def std3(self):
    print(f"{self.term_grades}     1.75   1.25   1.25")

terms=Person("Student no.")
student1=Person("Student 1   ")
student2=Person("Student 2   ")
student3=Person("Student 3   ")

terms.Term()
student1.std1()
student2.std2()
student3.std3()

Student no.       Pre   Mid   Final
Student 1        1.25   1.50   1.50
Student 2        1.50   1.00   1.25
Student 3        1.75   1.25   1.25

In [125]:
class average:
  def __init__(self,pre,mid,final):
    self.__pre = pre
    self.__mid = mid
    self.__final = final

  def Grade(self):
    return (self.__pre+self.__mid+self.__final)/3

std1 = average(1.25,1.50,1.50)
std2 = average(1.50,1.00,1.25)
std3 = average(1.75,1.25,1.25)

print("The computed average of Student 1 is", std1.Grade())
print("The computed average of Student 2 is", std2.Grade())
print("The computed average of Student 3 is", std3.Grade())

The computed average of Student 1 is 1.4166666666666667
The computed average of Student 2 is 1.25
The computed average of Student 3 is 1.4166666666666667